<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card bg-default">
				<h5 class="card-header">
					Olá, Usuário!
				</h5>
				<div class="card-body">
					<p class="card-text">
						Acesse seu perfil:
                    </p>
                    <button type="button" class="btn btn-primary">
                        Acessar
                    </button>
				</div>
			</div> 
			
		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 class="card-header">
					Agendamentos
				</h5>
				<div class="card-body">
					<p class="card-text">
						Consulte seus agendamentos.
                    </p>
                    <button type="button" class="btn btn-primary">
                        Acessar
                    </button>
				</div>
			</div> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<h5 class="card-header">
					Protocolos Sanitários
				</h5>
				<div class="card-body">
					<p class="card-text">
                        Atualize-se sobre os protocolos de prevenção ao COVID-19.
                    </p>
                    <button type="button" class="btn btn-primary">
                        Acessar
                    </button>
				</div>
			</div> 
			
			<div class="card" id='card2'>
				<h5 class="card-header">
					Encontre um profissional
				</h5>
				<div class="card-body">
					<p class="card-text">
						Encontre um profissional com a especialidade que você precisa!
                    </p>
                    <button type="button" class="btn btn-primary">
                        Acessar
                    </button>
				</div>
			</div>
		</div>
		<div class="col-md-6"></div>
	</div>
</div>
