.col-md-6{
    margin-top: 25px;
    
}

#card2 {
    margin-top: 25px;
}

.card-header{
background-color: #008eff;
color: white;
border-style: solid;
border-width: 2px;
border-color: #006b74;
border-bottom: 0px;
}

.card-body{
    border-style: solid;
    border-width: 2px;
    border-color: #006a74;
    
}