.center-block { /*Formulário*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-title {/*Título 'Cadastre-se'*/
    color: #4097aa;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
  }
  
  .fa { /*Ícones*/
    color: #4097aa;
  }
  
  .login-logo { /*Div com título 'Cadastre-se'*/
    align-self: center
  }
  
  .btn { /*Botão*/
    background-color: #4097aa;
    color: #ffff;
  }
  
